[ng-controller="profile"] {
  padding-bottom: 20px;

  height: 100px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

[alt="gravatar"] {
  float: left;
  margin-right: 20px;

  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.contacts {
  margin: 0 0 10px;
}

.sns {
  float: right;

  img {
    margin-left: 5px;

    width: 25px;
    height: 25px;

    &:hover {
      opacity: 0.5;
    }
  }
}
